* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: linear-gradient(#020617, #0f172a);
  color: #f1f5f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: Arial, sans-serif;
}

.fc .fc-col-header-cell-cushion {
  color: #020617;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #f1f5f9;
}

.app-navbar {
  width: 100vw;
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 6rem;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-list ul {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.nav-link {
  transition: 0.5s ease;
}

.nav-link:hover {
  color: #0088d2;
}

.mobile-menu {
  display: none;
}

.dropdown-menu {
  position: absolute;
  box-shadow: 0 0 2px white;
  border-radius: 3px;
  display: none;
}

.dropdown-menu a {
  display: block;
  padding: 10px 10px 10px 10px;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.app-footer {
  min-height: 50px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.quiz-app {
  width: 40vw;
  background-color: #f1f5f9;
  color: #0f172a;
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.caput {
  font-family: Arial, sans-serif;
  align-text: justify;
  font-size: 1rem;
  color: #0f172a;
  word-break: normal;
  white-space: pre-wrap;
}

.quiz-header {
  text-align: center;
  border-bottom: 1px solid blue;
  padding-bottom: 1rem;
}

.quiz-footer {
  border-top: 1px solid gray;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-button {
  border: none;
  border-radius: 10px;
  padding: 1rem 2rem;
  background-color: #0f172a;
  color: #f1f5f9;
  cursor: pointer;
}

.nav-quiz {
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.quiz-footer p {
  font-weight: bold;
}

@media screen and (max-width: 1200px) {
  .app-navbar {
    padding: 1.5rem 30px;
  }

  .mobile-menu {
    display: block;
    z-index: 999;
  }

  .mobile-menu-icon {
    font-size: 2rem;
    cursor: pointer;
  }

  .nav-list {
    position: absolute;
    top: 0px;
    right: 0px;
    display: block;
    background-color: #020617;
    padding: 90px 30px;
    height: 100%;
  }

  .hide {
    display: none;
  }

  .nav-list ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }

  .dropdown-menu {
    position: static;
    display: block;
    box-shadow: none;
  }

  .quiz-app {
    width: 100vw;
  }
}

.options {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  padding: 1rem;
}

.options button {
  border-radius: 10px;
  padding: 0.8rem 2rem;
  border: 1px solid gray;
  width: 100%;
  background-color: #f1f5f9;
  cursor: pointer;
}

.options .selected-answer {
  background-color: blue;
  color: #f1f5f9;
}

.options .correct-answer {
  background-color: green;
  color: rgb(135, 189, 135);
}

.options .wrong-answer {
  background-color: red;
  color: rgb(189, 141, 135);
}

/* Estilo para a tabela de perguntas */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f1f5f9;
  color: #0f172a;
}

.dimensao {
  padding: 30px 0;
}

.page-body {
  padding: 2rem 4rem;
}
.page-title {
  text-align: center;
  padding-bottom: 2rem;
  color: #00f5d4;
}

.page-subtitle {
  padding-bottom: 2rem;
}

.page-paragraph {
  padding-bottom: 2rem;
  text-align: justify;
}

.page-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
}

.page-imagelabel {
  font-size: 12px;
  padding-top: 0.5rem;
}

.page-video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
}

.page-link {
  background-color: #00f5d4;
  color: #0f172a;
  font-weight: bold;
  padding: 15px;
  margin-right: 2rem;
  border-radius: 10px;
}

.page-ul {
  padding-bottom: 2rem;
}

.page-ul li {
  list-style: circle;
}

.page-label {
  display: block;
}

.calculadora {
  padding: 2rem;
  display: flex;
  justify-content: space-around;
  margin-bottom: 3rem;
  min-height: 750px;
}

.resultado,
.dados {
  border: solid 1px;
  border-radius: 5px;
  padding: 2rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 500px;
}

.dados input[type="date"] {
  height: 2rem;
}

.dados select {
  height: 2rem;
  width: 20rem;
  border-radius: 3px;
}

.dados button {
  background-color: #00f5d4;
  color: #0f172a;
  font-weight: bold;
  padding: 15px;
  margin-right: 2rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.dados button:hover {
  background-color: #00f5f5;
}

.page-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
}

.tabela-prazos {
  display: flex;
  justify-content: space-between;
  padding: 2rem 2rem;
}

.filtro-simulado {
  border: solid 1px;
  border-radius: 5px;
  padding: 2rem 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.filtro-simulado li {
  padding: 1rem;
}

.filtro-simulado button {
  background-color: #00f5f5;
  border: none;
  padding: 10px;
  border-radius: 5px;
  margin-top: 1rem;
  font-size: 1.2rem;
}
